# Logs
logs
*.log

# Build outputs
dist
node_modules
kloggerx-server/kloggerx
kloggerx-server/kloggerx-server

# Uploads
uploads

# IDE
.vscode
.idea
*.sw?
.qoder
.specstory


# OS
.DS_Store

.storybook/
.vscode/

.specstory/
.vscode/
